body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*меню*/
nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color:#0f0e90 ;
  font-family: "Inter", sans-serif;
}
.link{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 40px;
  color: white;
} 

.mag{
background-color: #0f0e90;
}

/* описание книг*/
.icon{
  border: none;
  background: transparent;
}
.product{
  display: flex;
  flex-wrap: wrap;
}
.product-card{
  padding: 2%;
  flex-grow: 1;
  flex-basis:16%;
  margin-top: 20px;
}
.Picture{
  display: flex;
}
.Name{
  display: flex;
 color: #2e3f46;
 font-family: "Inter", sans-serif;
}
.Avtor{
  display: flex;
  color:#767e95 ;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.Price{
  display: flex;
  font-family: "Inter", sans-serif;
}

/*родители в слайдах*/
.parent{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.container{
  border: 2px solid #2660aa;
  margin: 20px;
  padding: 5px;
  font-family: "Inter", sans-serif;
  color:#2e3f46 ;
}
.parentOne{
margin-top:40px;
}


/*кнопки на слайдах*/
.btn{
  position: absolute;
  margin-top: 22%;  
}
.btnTwo{
  position: absolute;
  margin-left: 95%;
  margin-top: 22%;
}
.parentBtn{
  position: relative;
  margin-top: 50px;
}


/*кнопки по фильрации*/
.books{
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  font-size: 17px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  
}
.books:hover{
  background-color: #ff6b2f;
}

/*кнопка "купить"*/
.btnBuy{
  
  padding: 7px;
  background-color: #0f0e90;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  width: 80%;
  margin-right: 30px;
 
}
.btnBuy:hover{
  background-color: #2a379d;
}
/*сноска внизу страницы*/
.contacts{
  display: flex;
  justify-content: space-evenly;
  background-color: #ebeaf8;
  margin-top: 40px;
}
.contactTwo{
  display: flex;
  color: #33557a;
}
.contactTwo:hover{
  color:#767e95;
}
.contactsThree{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 15px;
}
.iconTg{
  margin-left: 14px;
}

.Slogan{
  color:#2e3f46;
  font-family: "Inter", sans-serif;
}
/*копки кол-ва */
.Knopka{
  margin-right: 30px;
}
.btnQuantity{
 margin: 10px;
  border: #0f0e90 solid 1px;
  border-radius: 5px;
  font-size: 20px;
  width: 30px;
  background-color:#ebeaf8 ;
  
}
/*родитель в корзине*/

.containerCartGL{
  display: flex;
  justify-content: space-between;
  margin: 15px;
  background-color: #ebeaf8;
 
}
.containerCart{
  display: flex;
}
.Two{
  margin-right: 10px;
}
.textCart{
  display: flex;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color:#2e3f46;
  margin: 20px;
}
/*корзина: колво*/
.totalQ{
display: flex;
justify-content: end;
margin-right: 50px;
 color: #2e3f46;
 font-size: 20px;
 font-weight: bolder;
 font-family: "Inter", sans-serif;
}
/*корзина: итого*/
.totalP{
  display: flex;
  justify-content: end;
  margin-right: 50px;
   color: #2e3f46;
   font-size: 20px;
   font-weight: bolder;
   font-family: "Inter", sans-serif;
  }
  .Korzina{
    color: #2e3f46;
    font-family: "Inter", sans-serif;
    margin: 20px;
  }
  .Photo{
display: flex;
    
  }
  .iconDelete{
    margin-top: 17px;
  }
  /*родитель на странице Sale*/
.parentSale{
  display: flex;
  justify-content: space-around;
}
.saleOne{
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: #c3d4e6;
  border-radius: 5px;
  margin: 10px;
}
.saleH2{
  margin-left: 10px;
  color: #2e3f46;
  font-family: "Inter", sans-serif;
}
.saleP{
  margin-left: 10px;
  color: #2e3f46;
  font-family: "Inter", sans-serif;
}
.salePromo{
  margin-left: 10px;
  color: white;
  background-color: #ff6b2f;
  font-family: "Inter", sans-serif;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
}
.Akcii{
  margin-left: 20px;
  color: #2e3f46;
  font-family: "Inter", sans-serif;
}
/*страница акций, новая и старая цена*/
del{
  color: #767e95;
 margin-left: 5px;
}
ins{
  text-decoration: none;
  display: inline-block;
  color: red;
  
}
.Rasst{
  margin: 0px;
  font-size:15px;
}

@media all and (max-width: 500px){
  .nav{
   width: 100%;
  }
  .imgSlides{
    width: 380px;
    height: 250px;
  }
  .IconGL{
    width: 30px;
    height: 20px;
  }
  .link{
    font-size: 10px;
  }
  .parent{
    display: flex;
  flex-direction: column;
    margin-top: 20px;
  }
  .parentOne{
    display: flex;
    flex-direction: column;
  }
  .container{
    font-size: 15px;
  }
  .booksButton{
    display: flex;
    flex-direction: column;
  }
  .btnBuy{
    font-size: 15px;
    ;
  }
  .product{
    margin-left: 20px;
  }
  .Picture{
    width:150px ;
    height: 250px;
  }
  .Name{
    font-size: 15px;
  }
  .Avtor{
    font-size: 12px;
  }
  .Price{
    font-size: 15px;
  }
  .contacts{
  display: flex;
  flex-direction: column;
  
  }
  .contactsOne{
    width: 100%;
  }
  .contactTwo{
    font-size: 10px;
  }
  .btnTwo{
    margin-left: 340px;
  }
  .books{
    font-size: 17px;
  }
  .containerCartGL{
    width: 100%;
  }
  .containerCart{
    font-size: 15px;
    width: 800px;
  }
  .parentSale{
    display: flex;
    flex-direction: column; 
  }
  .saleOne{
    font-size: 15px;
    width: 100%;
  }
}